{% if translation_domain is not defined %}
	{% set translation_domain = 'menu' %}
{% endif %}
{% trans_default_domain translation_domain %}

<div role="navigation" {% if params.classes and params.classes is not empty %}class="{{ params.classes|join(' ') }}"{% endif %}>
	<ul class="{{ params.ul_classes|join(' ') }}">
    {% for links in menu_item.menuItems %}
    	<li {% if links.attributes %}
    	       {% for attr, value in links.attributes %}
    	           {{ attr }}="{{ value|join(' ') }}"
    	       {% endfor %}
    	    {% endif %}>
    	    <a href="{% if links.route %}{{ path(links.route, links.routeParams) }}{% if links.routeOptions.anchor %}#{{links.routeOptions.anchor}}{% endif %}{% else %}#{% if links.routeOptions.anchor %}{{links.routeOptions.anchor}}{% endif %}{% endif %}">{{ links.name|trans({}, 'menu') }}</a>
	    </li>
    {% endfor %}
    </ul>
</div>

